PORT=4000
JWT_SECRET=2a02b310f5c86919685dad3dcc2286a27af081377c9386d48bec1590a3b54a00

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=priscillajohn7997@gmail.com
EMAIL_PASS=siyf gtcb kgkh hvcc
GVMC_EMAIL=ourgvmc@yahoo.co.in
DEFAULT_COMPLAINT_EMAIL=ourgvmc@yahoo.co.in
   TURSO_DATABASE_URL=libsql://netiv-priscilla-john.aws-ap-south-1.turso.io
   TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3ODg1MzI2NjUsImlkIjoiMDFhMDZjZDgtNjIwMS03MDJkLWE5ODktZGI1NjNkZjllNzNmIiwia2lkIjoiZkF4U21DSnBqeEpHeGhybk9MXzJTb3c5MWRRblZBTjVia1FIaVd1WHFPQSIsInJpZCI6IjUyN2Q4M2YyLTMyZTMtNGExMy04MmIwLTIzZGM1OGEwNmViNSJ9.3m_DCauP-Ui6PoHLXNPLhrZiSNP-SjFUe52Pf6uipjC33u1KB-PpVHHBvmYA2WmdY_MmRu803ivCyfp-1dUkBw