PORT=4000
JWT_SECRET=2a02b310f5c86919685dad3dcc2286a27af081377c9386d48bec1590a3b54a00

EMAIL_HOST=smtp.example.com
EMAIL_PORT=587
EMAIL_USER=priscillajohn7997@gmail.com
EMAIL_PASS=siyf gtcb kgkh hvcc
GVMC_EMAIL=ourgvmc@yahoo.co.in
DEFAULT_COMPLAINT_EMAIL=ourgvmc@yahoo.co.in